.container{
    width: 100%;
    box-sizing: border-box;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.main-header{
    background: #434343;
}
.wrapper-top, .wrapper-middle, .wrapper-main,.wrapper-bottom{
    margin: 0 auto;
    width: 70%;
}
.wrapper{
    background: #363636;
    width: 100%;
}
.back-white{
    background: white;
}
.wrapper-bottom{
    background: white;
}
.wrapper-main{
    background: white;
    width: 70%;
    border: 1px solid #c2c2c2;
}
.reviews{
    border: 1px solid #c2c2c2;
    padding-bottom: 100px;
}
.menu-nav{
    position: relative;
}
.main-nav a{
    text-decoration: none;
    color: white;
}
.menu-nav li{
    padding: 10px;
}
.list-left{
    float: left;
}
.list-right{
    float: right;
}
.clear{
    clear: both;
}
.submenu{
    position: absolute;
    background: #2a2a2a;
    top: 35px;
    right: 10px;
    
    display: none;
}
.submenu li{
    padding-left: 70px;
    border-bottom: 1px solid #717171;
    text-align: right;
}
.submenu a{
    color: #717171; 
}
.submenu a:hover{
    color: white;
}
.menu-nav li:hover > .submenu{
    display: block;
}
.list-left:after {
    content: url('../img/cursor.png');
    padding: 5px;
}
.main-nav li:nth-child(6):before{
    content: url('../img/login.png');
    padding-right: 5px;
    margin-top: 30px;
}
.main-nav li:nth-child(5):before{
    content: url('../img/register.png');
    padding-left: 10px;  
}
.wrapper-middle{
    padding-top: 30px;
    padding-bottom: 30px;
}
.phone , .main-logo, .basket{
    display: inline-block;
    width: 33%;
    vertical-align: middle;
}
main{
    position: relative;
}
.main-content{
    padding: 20px;
}
.main-logo{
    text-align: center;
}
.phone p{
    position: relative;
    margin-left: 50px;
    color: #b8b8b8;
}
.phone p:before{
    content: url('../img/phone.png');
    position: absolute;
    top: -10px;
    left: -40px;;   
}
.basket p{
    text-align: right;
    padding: 20px;
    position: relative;
    color: #b8b8b8;
}
.basket p:before{
    content: url('../img/trash.png');
    position: absolute;
    bottom:0;
    right: 40px;
}
.wrapper-top{
    box-sizing: border-box;
}
.main-form{
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}
.categories_search{
    border: 1px black solid;
    padding-left: 10px;
}
.select_categories{
    border-right: 1px black solid;
    padding-bottom: 15px;
    padding-top: 15px;
}
.search{
    border: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    color: #b8b8b8;
}
.btn{
    background: url('../img/search.png') no-repeat;
    padding: 10px;
    border: 0;
}
.select__main-text{
    padding-left: 10px;
}
.select-list{
    color: #d58e32;
}
.main-menu ul, li{
    padding: 0;
    margin: 0;
}
.main-menu{
    float: right;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}
.menu li{
    display: inline-block;
    padding-right: 30px;
}
.menu a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.menu li:hover > a{
    color: white;
    background: #d58e32;
    padding: 40px 20px;
    border-top: 10px solid #2a2a2a;
}
.wrapper-gray{
    width: 100%;
    background: #7f7f7f;
    height: 300px;
    position: absolute;
}
.category-title{
    color: #d1d1d1;
    float: left;
    font-size: 20px;
    padding: 35px 0;
    text-transform: uppercase;
}
.categoty-menu{
    float: right;
    padding: 35px 0;
}
.category-menu_list{
    position: relative;
}
.categoty-menu li{
    display: inline-block;
    padding-right: 30px;
}
.categoty-menu li:after{
    content: '>';
    position: absolute;
    padding-left: 15px;
    color: #d1d1d1;
}
.categoty-menu li:last-child:after{
    content: '';
}
.categoty-menu a{
    color: #d1d1d1;
    text-decoration: none;
}
.gallery{
    float: left;
    width: 35%;
}
.galerry-bootom{
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}
.info{
    float: right;
    width: 65%;
}
.header_title{
    float: left;
    font-weight: bold;
    font-size: 22px;
}
.header-btn{
    float: right;
}
.header-btn__left,
.header-btn__right{
    background: white;
    border: 1px solid black;
    padding: 5px 10px;
}
.header-btn__left:hover{
    background: orange;
    color: white;
}
.header-btn__right:hover {
    background: orange;
    color: white;
}
.raiting{
    padding-top: 10px;
    padding-bottom: 15px;
}
.raiting span{
    display: inline-block;
    vertical-align: middle;
}
.full-star{ 
    background: url('../img/full.png') no-repeat;
    margin-top: 8px;
    padding: 10px;
}
.emty-star{
    background: url('../img/emty.png') no-repeat;
    padding: 10px;
    margin-top: 8px;
    display: inline-block;  
}
.text-star{
    padding-left: 10px;
    padding-right: 10px;
}
.add-review{
    border-left: 1px solid #7f7f7f;
    padding-left: 10px;
}
.product-price{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: 30px;
    padding-bottom: 30px;
}
.old-price{
    text-decoration: line-through;
    color: #cccccc;
    padding: 10px;
}
.sale-price{
    padding: 10px;
    background-color: black;
    color: white;
}
.customer-action{
    padding-top: 20px;
}
.product-add{
    padding: 10px 10px 10px 30px;
    background: #d58e32 url('../img/trash2.png') no-repeat;
    background-position: 5% 50% ;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.wishlist-add{
    padding: 10px 20px 10px 20px;
    background: white url('../img/like.png')no-repeat;
    border: 1px solid black;    
    background-position: 50% 50% ;
}
.product-compare{
    padding: 10px 20px 10px 20px;
    background: white url('../img/compare.png')no-repeat;
    border: 1px solid black;    
    background-position: 50% 50% ;
    margin-left: 5px;
}
.product-mail {
    padding: 10px 20px 10px 20px;
    background: white url('../img/mail.png')no-repeat;
    border: 1px solid black;    
    background-position: 50% 50% ;
    margin-left: 5px;
}
.product-quantity{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}
.product-description{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}
.aviability{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}
.avibility-text,
.categoty_name{
    font-weight: bold;
}
.fa-facebook{
    padding: 10px;
    background: #3b5998;
    color: white;
}
.social-share{
    padding-left: 10px;
}

.wrapper-form .active { color: red;
border-bottom: 0px;}
.tab{
    border: 1px solid #cccccc;
    -border-bottom: 0px;
}
.wrapper-form{
    position: relative;
}
.tab{
    padding: 20px;
}
.tab1{
    z-index: 200;
    position: absolute;
    left: 0;
    border-right: 0px;
}
.tab2{
    position: absolute;
   - z-index: 100;
    left: 120px;
}
.tab3{
    position: absolute;
   - z-index: 300;
    left: 240px;
    border-right: 0px;
}
.tab4{
    position: absolute;
  - z-index: 400;
    left: 370px;
}
.tab_content{
    position: absolute;
    top: 80px;
}
